{% extends 'saisie/layout/saisie_main.html' %}
{% load static %}
{% block content %}

<br>

<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
        
            <center>


            <p>Voulez-vous vraiment supprimer {{ timetable }} ?</p>
            <form action=" {%  url 'delete_timetable' timetable.id %} " method="POST">

                {% csrf_token %}
                <a  class="btn btn-warning" href="{% url 'index_saisie' %} ">Annuler</a>
                <input class="btn btn-danger " type="submit" name="Confirmer">

            </form>

             </center>
        </div>
    </div>
</div>    

    

{% endblock %}