{% extends 'saisie/layout/saisie_main.html' %}

{% block content %}









<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Emplois du temps actifs   </h1>
	
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
	  <div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary"></h6>
	  </div>
	  <div class="card-body">
		<div class="table-responsive">
		  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th>Semestre</th>
                        <th>Date de création</th>
                        			
				</tr>
			</thead>
			<tfoot>
				
			</tfoot>
			<tbody>
				{%  for timetable in posted %}
                        <tr>
                            <td> {{timetable.semester}} </td>
							<td> {{timetable.date_created}} </td>
							<td><a class="btn btn-primary" href="{% url  'print_timetable' timetable.id  %}">Voir</a></td> 
                            <td><a class="btn btn-danger" href="{% url  'desactivate_timetable' timetable.id %}">Desactiver</a></td>
                        </tr>

                    {%  endfor %}
			</tbody>
		  </table>
		</div>
	  </div>
	</div>

  </div>

<!-- /.container-fluid -->



























{% endblock %}