<div class="row">
    <div class="col-md-2">
		
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">cours magistraux</a>
			
		</div>
    </div>

    <div class="col-md-2">
		
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">Travaux dirigés</a>
			
		</div>
    </div>

    <div class="col-md-2">
		
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">Travaux pratiques</a>
			
		</div>
    </div>

    <div class="col-md-2">
		
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">Examens</a>
			
		</div>
    </div>

    <div class="col-md-2">
		
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">Soutenances</a>
			
		</div>
    </div>

    <div class="col-md-2">
		
		<hr>
		<div class="card card-body">
			<a href="" class="btn btn-primary btn-sm btn-block">Autre</a>
			
		</div>
    </div>
</div>