
{% extends 'ressources/layout/ressources_main.html' %}
{%  load static %}

{% block content %}





<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Cours  ( {{total_courses}} ) </h1>
	
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
	  <div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'create_course' %}">Ajouter un cours</a></h6>
	  </div>
	  <div class="card-body">
		<div class="table-responsive">
		  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			<thead>
				<tr>
					<th>code</th>
					<th>description</th>
					
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>code</th>
					<th>description</th>
					
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</tfoot>
			<tbody>
				{%  for course in courses %}
					<tr>
						<td> {{course.code}} </td>
						<td> {{course.description}} </td>
						
						<td><a class="btn btn-warning" href="{% url  'update_course' course.id %}"><i class="fas fa-exclamation-triangle"></i></a></td>
						<td><a class="btn btn-danger" href="{% url  'delete_course' course.id %}"><i class="fas fa-trash"></i></a></td>
					</tr>

				{%  endfor %}
			</tbody>
		  </table>
		</div>
	  </div>
	</div>

  </div>

<!-- /.container-fluid -->





{% endblock %}

















